* {
  box-sizing: border-box;
}
body {
  padding: 10px;;
  margin: 0;
  font-size: 2rem;
}

button {
  font-size: 30px;
  padding:20px;
}

span {
  padding: 20px;
}

h1 {
  text-align: center;
}

.container {

  display: flex;
  justify-content: center;
}

